@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(
      to right bottom,
      rgb(77, 84, 209),
      rgb(165, 28, 123) 50%,
      rgb(238, 74, 55) 100%
    )
    center center;
  background-attachment: fixed;
  height: 100vh;
}

/* html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
} */
